---
import PageIntro from '../PageIntro.astro'
import ProjectList from '../ProjectList.astro'
import ProjectFilter from '../ProjectFilter.astro';

const { data } = Astro.props;
const pageTitle = data.title;
const pageIntroduction = data.content;
const projectData = data.work.nodes;

const allServices = projectData.flatMap((project:any) => 
  project.projectMeta?.services?.nodes?.map((service:any) => service.title) || []
).filter(Boolean);

const uniqueServices = [...new Set(allServices)];
---

{pageTitle &&
<header>
  <h1>{pageTitle}</h1>
</header>
}

<PageIntro>
  {pageIntroduction &&
    <Fragment slot="column-one" set:html={pageIntroduction} />
  }
  <ProjectFilter services={uniqueServices} slot="column-two" />
</PageIntro>

<ProjectList projects={projectData} layout="list" fitCards={true} />