---
// Import Components & Scripts
import PersonCard from '../PersonCard.astro';

// Define Types
interface member{
  id?: string;
  title?: string;
  roles?: [];
  featuredImage?: object;
}
interface Props{
  title: string;
  members: member[];
}

// Define Vars
const {title, members} = Astro.props;
---

<!-- TeamBlock -->
<div class:list={['teamblock','full']}>
  <h2 class="teamblock-title">{title}</h2>
  <div class="grid gap-8 md:grid-cols-3">
    {members &&
      members.map((member:any)=>( // member
        <PersonCard 
          name={member.title}
          roles={member.roles?.nodes}
          photoSourceUrl={member.featuredImage?.node.sourceUrl}
          photoAltText={member.featuredImage?.node.altText}
          photoTitleText={member.featuredImage?.node.titleText}
        />
      ))
    } 
  </div> 
</div>

