---

import { Image } from 'astro:assets';


// Define Types
interface Props{
  title?: string;
   image?: { url: string; alt: string; };
  items?: textItem[];
}
interface textItem {
  title?: string;
  text?: string;
}

// Define vars
const {title, image, items} = Astro.props;


if (image) {
  console.log("Image URL:", image.url);
  console.log("Image Alt:", image.alt);
}



---

<div class="full">
<h1 class="title">{title}</h1>
<div class="grid textgrid__content md:grid-cols-2">
  <div class="image__wrap">
    {image && (
        <img src={image.url} alt={image.alt} class="image" />
      )}
    </div>
  <div class="grid gap-4 items md:grid-cols-2">
    {items &&
      items.map((item:any) => (
        <div class="item">
          <div class="item__title" set:html={item.text.title} />
          <div class="item__text" set:html={item.text.text} />
        </div>
      ))    
    }
  </div>
</div>
</div>

<style>

  .title {
    font-size: var(--fs-6);
    line-height: 112.5%;
  }

  .textgrid__content {
    gap: var(--gap);
  }
  
  .image__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    aspect-ratio: 1 / 1;
  }


  .item__title, .item__text {
    font-size:var(--fs-0);
    font-weight: 600;
    line-height: 112.5%;
    letter-spacing: -0.0025em;
  }

  .item__text {
    opacity: 0.6;
  }


</style>