---
// Import Components & Scripts
import { Image } from 'astro:assets';

// Define Types
interface textItem {
  title?: string;
  text?: string;
}
interface imageItem {
  id?: string;
  altText?: string;
  sourceUrl?: string;
}
interface Props{
  title?: string;
   media?: { 
    image?: imageItem[]; 
    imgposition?: string; 
  };
  items?: textItem[];
}

// Define vars
const {title, media, items} = Astro.props;
const imgObject = media?.image ? Object.values(media.image) as imageItem[] : [];

const imageUrl = imgObject.length > 0 ? imgObject[0]?.sourceUrl : "";
const imageAlt = imgObject.length > 0 ? imgObject[0]?.altText : "";
const imagePosition = media?.imgposition;
---

<!--TextGridBlock-->
<div class="grid grid-cols-1 textgridblock full">
  <h2 class="textgridblock-title">{title}</h2>
  <div class="grid textgridblock-content lg:grid-cols-2">

      {imageUrl && (
        <Image 
            src={imageUrl}
            inferSize
            widths={[540, 960, 1440, 1920]}
            sizes={`(max-width: 360px) 540px, (max-width: 720px) 960px, (max-width: 1600px) 1440px, 1920px`}
            format='avif'
            alt={imageAlt || ""} 
            title={imageAlt || ""}
            class={`content-image image-wrap img-align-${imagePosition}`}
          />
        )}
  
    <div class="grid gap-8 items lg:grid-cols-2">
      {items &&
        items.map((item:any) => (
          <div class="flex flex-col content-item gap:2 md:gap-2">
            <h3 class="content-item-title" set:html={item.text.title} />
            <div class="content-item-desc" set:html={item.text.text} />

          </div>
        ))    
      }
    </div>
  </div>
</div>

<style>
  .textgridblock-title {
    font-size: var(--fs-6);
    line-height: 112.5%;
    margin-bottom: var(--space-xl);
    font-weight: 500;
  }

  .textgridblock-content {
    gap: var(--gap);
  }

  .content-item-title, .content-item-text{
    font-size: var(--fs-0);
    font-weight: 500;
    line-height: 112.5%;
  }
  .content-item-desc {
    font-size: var(--fs--1);
    opacity: 0.7;
    font-weight: 400;
    line-height: 112.5%;
  }
  .img-align-right{
    order:1;
  }
  .img-align-left{
    order:0;
  }


  
</style>