---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Carousel from '../components/Carousel.astro'
import ProjectList from '../components/ProjectList.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'

// This will become CMS data
const slideData = [
  {
    title: "Caption 1",
    client: "client",
    imgsrc: "https://cdn.prod.website-files.com/652e95f945884e792746f7e7/654b822b564a3d23c5d198c1_Hoogendoorn-Customer-Benefits-Campaign-Thumbnail-16x9.png",
    imgalt: "joi",
    vidsrc: "https://assets-global.website-files.com/652e94d9295cf0f25e8f370e/654b828223d944492487b176_IIVO_Benefit_Banner_3_v1-transcode.mp4",
    link: "",
  },
  {
    title: "Caption 2",
    client: "client",
    imgsrc: "https://cdn.prod.website-files.com/652e95f945884e792746f7e7/654b822b564a3d23c5d198c1_Hoogendoorn-Customer-Benefits-Campaign-Thumbnail-16x9.png",
    imgalt: "adsad",
    vidsrc: "",
    link: "",
  },
  {
    title: "Caption 3",
    client: "client",
    imgsrc: "https://cdn.prod.website-files.com/652e95f945884e792746f7e7/654b822b564a3d23c5d198c1_Hoogendoorn-Customer-Benefits-Campaign-Thumbnail-16x9.png",
    imgalt: "ups",
    vidsrc: "https://assets-global.website-files.com/652e94d9295cf0f25e8f370e/654b828223d944492487b176_IIVO_Benefit_Banner_3_v1-transcode.mp4",
    link: "",
  },
  {
    title: "Caption 4",
    client: "client",
    imgsrc: "https://cdn.prod.website-files.com/652e95f945884e792746f7e7/654b822b564a3d23c5d198c1_Hoogendoorn-Customer-Benefits-Campaign-Thumbnail-16x9.png",
    imgalt: "downs",
    vidsrc: "",
    link: "",
  }
];


const projectData = {
  "projects": [
    {
      title: "Hello Campaign",
      client: "Poepje",
      link: "#",
      size: "large",
      imgsrc: "https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png",
      imgalt: "",
      vidsrc: "",
      meta: [{ label: 'Brand' }, { label: 'Identity' }],
    },
    {
      title: "Goodbye Campaign",
      client: "Snoepje",
      link: "#",
      size: "large",
      imgsrc: "https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png",
      imgalt: "",
      vidsrc: "",
      meta: [{ label: 'Campaign' }, { label: 'Website' }],
    },
    {
      title: "Nice Campaign",
      client: "fLoepje",
      link: "#",
      size: "small",
      imgsrc: "https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png",
      imgalt: "",
      vidsrc: "",
      meta: [{ label: 'Strategy' }, { label: 'Identity' }],
    },
    {
      title: "Video Campaign",
      client: "fLoepje",
      link: "#",
      size: "full",
      imgsrc : "https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png",
      imgalt: "",
      vidsrc: "https://assets-global.website-files.com/652e94d9295cf0f25e8f370e/654b828223d944492487b176_IIVO_Benefit_Banner_3_v1-transcode.mp4",
      meta: [{ label: 'Campaign' }, { label: 'Stickers' }],
    },
    {
      title: "Standaard",
      client: "fLoepje",
      link: "#",
      size: "",
      imgsrc: "https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png",
      imgalt: "",
      vidsrc: "",
      meta: [{ label: 'Nothing' }, { label: 'Identity' }],
    },
  ]
};


---

<DefaultLayout title="Home">
  
  <Carousel slides={slideData}/>

  <section class="my-24">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
        <div class="col">
          Narwal is boutique. Narwal is no-nonsense. Founded in 2020, the creative agency blends creative disciplines
          with heart and soul to humanize brand stories and create cool stuff with lasting impact. Visual identities,
          campaigns, events and experiences, you name it, they can make it happen in-house with their hands-on creative
          and production team.
        </div>
        <div class="col">Moving ambitious brands forward. Transforming strategy into reality.</div>
      </div>
    </div>
  </section>

  <ProjectList projects={projectData.projects} layout="grid" fitCards={false} />

  <ProjectList projects={projectData.projects} layout="list" fitCards={true} />

  <!--   

  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Tailwind CSS">
          Use the power of Tailwind to greatly improve your productivity and enhance your developer workflow.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="a11y Components">
          17 components and counting, all tried and tested for the most optimal accessible experience for your visitors.
        </Feature>
        <Feature icon="mdi:looks" title="Prettier">
          Less worry about formatting your code, let the Astro Prettier integration do the heavy lifting.
        </Feature>
        <Feature icon="mdi:eslint" title="ESLint">
          Lint your code with strict a11y settings to ensure you stay on track with the WCAG standards.
        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="Blog">
          This theme comes with a fully integrated blog, dynamic pages and SEO optimization.
        </Feature>
        <Feature icon="mdi:language-markdown" title="Markdown & MDX">
          Easily use .md and .mdx pages to build your websites or use it with Netlify CMS.
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="Dark mode">
          Fully integrated Dark mode gives your users the choice for their favorite viewing mode.
        </Feature>
        <Feature icon="mdi:cog" title="Design System">
          The theme offers some very handy utilities to help you build your website faster.
        </Feature>
        <Feature icon="mdi:lighthouse" title="Lighthouse Scores">
          Excellent lighthouse scores means your website will load faster and get better SEO rankings.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="520" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section> -->
</DefaultLayout>
