---
import type { ContentFields, ContentField } from 'src/types/contentblocks'
// Import Content Block Components
import TextBlock from './blocks/TextBlock.astro'
import ImageBlock from './blocks/ImageBlock.astro'
import VideoBlock from './blocks/VideoBlock.astro'
import ColorBlock from './blocks/ColorBlock.astro'
import TestimonialBlock from './blocks/TestimonialBlock.astro'
import MultiCols from './blocks/MultiCols.astro'
import EmbedBlock from './blocks/EmbedBlock.astro'

type Props = {
  blocks: ContentField[]
}

const { blocks } = Astro.props
---

<div class="content">
  {
    blocks.map((block) => {
      switch (block.__typename) {
        case 'ProjectContentContentTextLayout': // Text Block
          return <TextBlock content={block.text?.text || ''} width={block.text?.width} />
        case 'ProjectContentContentImageLayout': // Image block
          return 
            <ImageBlock sourceUrl={block.image.node.sourceUrl} altText={block.image.node.altText} size={block.size} />
        case 'ProjectContentContentVideoLayout': // Video Block
          if(block.option === "embed"){
            return <EmbedBlock code={block.embedCopy} size={block.size} />
          }else{
            return <VideoBlock type={block.option} url={block.embed} size={block.size}/>
          }
        case 'ProjectContentContentColorModeLayout': // Color Block
          console.log(block);
          return <ColorBlock />
        case 'ProjectContentContentTestimonialLayout': // Testimonial Block
          return <TestimonialBlock />
        case 'ProjectContentContentMultiColsLayout': // Testimonial Block
          return <MultiCols cols={block.col} />
        default:
          null
      }
    })
  }
</div>
