---
// Import Components
import Image from 'astro/components/Image.astro'
import {replaceUrls} from '../lib/utils'

const {slides} = Astro.props;

// Replace links and add them back to slides
const processedSlides = slides.map((slide:any)=> {

  const linkObj = slide.slideFields.link;

  const updatedTitle = (linkObj) ? linkObj.title : "";
  const updatedUrl = (linkObj) ? replaceUrls(linkObj.url, `${import.meta.env.DEV_SITE_URL}`) : "";
  const updatedTarget = (linkObj) ? linkObj.target : "";
  
  return{
    ...slide,
    slideFields: {
      ...slide.slideFields,
      link:{
        title: updatedTitle,
        url: updatedUrl,
        target: updatedTarget
      }
    }
  }
});

const backgroundSlides = processedSlides.map((slide:any) =>({
  imgsrc: slide.slideFields?.image?.node?.sourceUrl || "",
  imgalt: slide.slideFields?.image?.node?.altText || slide.slideFields?.slideTitle || "",
  vidsrc: slide.slideFields?.videoUrl || ""
}));

const foregroundSlides = processedSlides.map((slide:any) =>({
  title: slide.slideFields?.slideTitle || "",
  subtitle: slide.slideFields?.slideSub || "",
  link: [slide.slideFields?.link ]|| [],
}));

---
<section class="carousel-gallery">
  <div class="carousels">

    <!-- Background Carousel -->
    <div class="carousel carousel-background swiper">
      <!-- Slides -->
      <div role="list" class="swiper-wrapper">
        {backgroundSlides &&
          backgroundSlides.map((slide:any)=>( // slide
            <div role="group" class="swiper-slide">
              {slide.vidsrc && // video
                <div class="video-wrapper">
                  <div class="video-overlay">
                    <video class="video" playsinline="" loop="" muted="" autoplay="">
                      <source
                        src={slide.vidsrc}
                      />
                    </video>
                  </div>
                </div>
              }

              {slide.imgsrc && // image 
                <Image 
                  src={slide.imgsrc}
                  width="10";
                  height="10";
                  widths={[540, 960, 1440, 1920]}
                  sizes={`(max-width: 360px) 540px, (max-width: 720px) 960px, (max-width: 1600px) 1440px, 1920px`}
                  format='webp'
                  alt={slide.imgalt || ""}
                />
              }
            </div>
          ))
        }    
      </div>
    </div>
    <!-- Foreground Carousel -->
    <div class="carousel carousel-foreground swiper">
        <div role="list" class="swiper-wrapper">
          {foregroundSlides && 
            foregroundSlides.map((slide:any)=>( // slide
            <div role="group" class="swiper-slide">
              {slide.link ?
                slide.link.map((l:any)=>( // slide
                <a class="slide-text" href={l.url} target={l.target}>
                  <h3 class="font-medium text-l opacity-80">{slide.subtitle}</h3>
                  <h1 class="font-bold text-7xl md:text-9xl text-balance">{slide.title}</h1>
                </a>
                ))
              :
                <h3>{slide.subtitle}</h3>
                <h1>{slide.title}</h1>
              }
            </div>
          ))
        }    
        </div>
    </div>
    <!-- Carousel Controls -->
    <div class="controls swiper-controls">
      <div class="controls-wrapper">
          <div class="control-indicator swiper-indicator">
          <p class="swiper-counter">
            <span class="swiper-number-current">00</span> &mdash;
            <span class="swiper-number-total">00</span>
          </p>
        </div>
        <a href="#" class="control-button swiper-button-prev">
          <div class="control-button_icon is_reversed">
            <svg
              width="24px"
              height="24px"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M5 12h14m0 0-7-7m7 7-7 7"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
            >
          </div>
        </a>
        <a href="#" class="control-button swiper-button-next">
          <div class="control-button_icon">
            <svg
              width="24px"
              height="24px"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M5 12h14m0 0-7-7m7 7-7 7"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
            >
          </div>
        </a>
      
      </div>
    </div>
  </div>
</section>

<script src="../lib/swiper.js"></script>

<style>

   /* * > * {
    border: 1px solid red;
   } */
/* Algemene instellingen voor de carousel gallery */
  .carousel-gallery {
    display: flex;
    flex-direction: column;  
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .carousels {
    padding:0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  /* Achtergrond carousel instellingen */
  .carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Achtergrond */
  }
  
  .carousel-background .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Zorgt ervoor dat de inhoud in de viewport past */
  }
  
  .carousel-background .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Zorgt ervoor dat de video boven de afbeelding ligt */
  }
  
  .carousel-background .video,
  .carousel-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Past de video aan om de hele slide te bedekken */
  }
  
  .carousel-background .poster ,
  .carousel-background img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Past de afbeelding aan om de hele slide te bedekken */
    z-index: 1; /* Zorgt ervoor dat de afbeelding onder de video ligt */
  }
  
  /* Voorgrond carousel instellingen */
  .carousel-foreground {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2; /* Voorgrond */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    pointer-events: none; /* Zorgt ervoor dat alleen de controls klikbaar zijn */
  }
  .carousel-foreground .swiper-wrapper{
    width:100%;
    height: 100%;
    padding: var(--site-padding);
  }
  .carousel-foreground .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    color: white;
    pointer-events: auto; /* Zorgt ervoor dat de slides klikbaar zijn */
    min-height: 100%; /* Zorgt ervoor dat de slides 100% van de hoogte innemen */
    min-width: 100%; /* Zorgt ervoor dat de slides 100% van de breedte innemen */
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
  }
  
  /* Control instellingen */
  .controls {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 3; /* Boven beide carousels */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .controls-wrapper {
    display: flex;
    align-items: center
  }  

  .controls {
    z-index: 10;
    grid-column-gap: 0em;
    grid-row-gap: 1.5em;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(1, 1, 1, .6));
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    padding: var(--site-padding);
  }
  .controls-wrapper{
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-wrap: wrap;
    flex: 0 auto;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .control-button {
    backdrop-filter: blur(30px);
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    transition:
      background-color 0.2s,
      color 0.2s;
    display: flex;
  }
  .control-button:hover {
    color: #000;
    background-color: #fff;
  }
  .control-button_icon {
    flex: none;
    align-self: center;
  }
  .control-indicator {
    color: white;
  }
  .is_reversed {
    transform: rotate(-180deg);
  }

  .video-wrapper {
    width: 100%;
    height: 100%;
  }
  .video-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide-text {

  }
  h1 {
    max-width: 16ch;
    
    font-size: var(--fs-8);
    font-weight:700;
    letter-spacing: -0.035em;
    text-wrap: balance;
    line-height: 90%;
    
  }

  h3 {
    font-size: var(--fs--1);
  }
   a {
    text-decoration: none!important;
   }

   a:hover {
    text-decoration: none!important;
   }
</style>