---
import type { ActionError, ActionInputError } from 'astro:actions'
import ProjectCard from '../components/ProjectCard.astro'

const { projects, layout, fitCards } = Astro.props
---

<section
  class="my-24"
  class:list={[
    {
      'layout-grid': layout === 'grid',
      'layout-list': layout !== 'grid',
    },
  ]}
>
  <div class="container">
    <div class="project-list start grid items-start gap-12 lg:grid-cols-12">
      {
        projects &&
          projects.map((item: any) => {
            let title = item.projectHero.details.title || ''
            let clientname = item.projectMeta.projectClient.nodes[0].title || ''
            let services = item.projectMeta.services.nodes || []
            let size = item.projectMeta.thumbnailGroup.size.toString() || ''
            let vidsrc = item.projectMeta.thumbnailGroup.vimeo || ''
            let imgsrc = item.projectMeta.thumbnailGroup.thumbnail.node.sourceUrl || ''
            let imgalt = item.projectMeta.thumbnailGroup.thumbnail.node.altText || ''

            return <ProjectCard {title} {clientname} {size} {imgsrc} {imgalt} {vidsrc} {services} {fitCards} />
          })
      }
    </div>
  </div>
</section>

<style>
  .layout-grid {
    background-color: aqua;
  }
  .layout-list {
    background-color: yellow;
  }
</style>
