---
import ProjectCard from '../components/ProjectCard.astro'

const {type, ignoreSize} = Astro.props;



//  client = 'Koppert',
//   title = 'Agriculture Campaign',
//   imgsrc = projImg,
//   imgalt = 'Agriculture Campaign',
//   vidsrc = '',
//   link = '#',
//   size = 'default',
---

<section class="my-24">
  <div class="container">
    <div class="grid items-start gap-12 project-list start lg:grid-cols-12">
      <ProjectCard
        {ignoreSize}
        size="large"
        title="hello"
        client="poepje"
        imgsrc="https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png"
      />
      <ProjectCard size="large"  {ignoreSize} />
      <ProjectCard size="small" {ignoreSize}  />
      <ProjectCard
      {ignoreSize}
        size="full"
        vidsrc="https://assets-global.website-files.com/652e94d9295cf0f25e8f370e/654b828223d944492487b176_IIVO_Benefit_Banner_3_v1-transcode.mp4"
        imgsrc="https://cdn.prod.website-files.com/652e95f945884e792746f7e7/6548c08f3958da44b00f7fd0_PUMA-World-Athletics-Champs-16x9-FULL-THUMB.png"
      />
      <ProjectCard size="default"  {ignoreSize} />
    </div>
  </div>
</section>
<!-- yes  -->
