---
// Import Components
import Image from 'astro/components/Image.astro'
import TagGroup from '../components/TagGroup.astro'

// Type Definitions
type Services = {
  title: string;
}; 

type ProjectProps = {
  clientname?: string;
  title?: string;
  imgsrc?: string;
  imgalt?: string;
  vidsrc?: string;
  link?: string;
  size?: string;
  services?: Services[];
  fitCards?: boolean;
};

// Defaults
const { clientname, title, imgsrc, imgalt = '', vidsrc, link, size, services, fitCards} = Astro.props as ProjectProps;
let cardclasses = ''

if(fitCards !== true){
if (size) {
  switch (size) {
    case 'small':
      cardclasses = 'lg:col-span-4'
      break
    case 'large':
      cardclasses = 'lg:col-span-8' 
      break
    case 'full':
      cardclasses = 'lg:col-span-12'
      break
    default:
      cardclasses = 'lg:col-span-6'
  }
}}else{
  cardclasses = 'lg:col-span-2'
}
---

<div class={`project-card ${cardclasses}`}>
  <div class="overflow-hidden rounded-lg project-media">
    {
      vidsrc ? ( // if vidsrc is set, show video with poster image
        <div class="w-full project-video">
          <video
            preload="metadata"
            tabindex="-1"
            disablepictureinpicture
            playsinline
            loop
            title={title}
            src={vidsrc}
            poster={imgsrc}
            autoplay={true}
            muted 
          />
        </div>
      ) : (
        imgsrc && ( // if no video, show image
          <div class="project-image">
            <Image
              src={imgsrc}
              alt={imgalt}
              inferSize={true}
              widths={[240, 540, 720]}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
              class="min-w-full"
            />
          </div>
        )
      )
    }
  </div>

  <div class="project-content">
    <div class="flex justify-between py-4 align-baseline project-meta">
      {clientname && <h3 class="text-xs project-client">{clientname}</h3>}
      {services && <TagGroup tags={services} />}
    </div>

    {
      title && (
        <h2 class="leading-none project-title text-xl3">
          <a href={link} class="project-link">
            {title}
          </a>
        </h2>
      )
    }
  </div>

  <style is:global>
    .project-card {
      position: relative;
      /* overflow: hidden; */
      transition: box-shadow 0.15s ease-in-out;
      color: var(--font-color);
    }

    .project-card:hover,
    .project-card:focus-within {
      box-shadow: 0 0 0 0.5rem;
      box-shadow: none;
    }

    .project-content a {
      text-decoration: none !important;
      color: inherit !important;
    }

    .project-content a:focus {
      text-decoration: underline;
    }

    .project-content a::after {
      content: '';
      position: absolute;
      inset: 0;
    }
  </style>
</div>
