---
import '../assets/global.css'
import '../assets/scss/globals.scss'
// import '../assets/scss/globals.scss'
import SiteMeta from '../components/SiteMeta.astro'
import SiteNavigation from '../components/SiteNavigation.astro'
import SiteFooter from '../components/SiteFooter.astro'

import { getNavigation } from '../lib/api'

type Props = {
  children?: any;
  title: string;
  description?: string;
  image?: any;
  author?: any; 
}

const { title, description, image = '/social-preview-image.png', author = 'AstroBuildClub™' } = Astro.props
const { menus, generalSettings } = await getNavigation()
const primaryMenu = menus.nodes[0]
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml"  />
    <link rel="icon" href="/favicon.ico" sizes="any">

    <SiteMeta
      title={title}
      description={description?.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(' ', '-')}`
        : `https://accessible-astro.dev/${title.toLowerCase().replaceAll(' ', '-')}`}
      image={image}
      author={author}
    />
  </head>

  <body>
    <SiteNavigation menu={primaryMenu} generalSettings={generalSettings} />
    <main>
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>


<style>
  main {
    margin-bottom: 100vh;
  }

  
</style>